version: '2'
services:
  wordpress:
    image: visiblevc/wordpress:latest
    ports:
      - 8080:80
      - 443:443
    volumes:
      - ./data:/data
      - ./tweaks.ini:/usr/local/etc/php/conf.d/tweaks.ini # Optional tweaks to the php.ini config
      - ./wp-content/uploads:/app/wp-content/uploads
      - ./wp-content/plugins/zulu-plugin:/app/wp-content/plugins/zulu-plugin # Plugin development
      - ./wp-content/themes/zulu:/app/wp-content/themes/zulu   # Theme development
      - ./wp-content/themes/zulu-child:/app/wp-content/themes/zulu-child   # Theme development
    environment:
      DB_NAME: zulu_db
      DB_PASS: root
      PLUGINS: >-
        [WP-API]https://github.com/WP-API/WP-API/archive/master.zip,
        [local]zulu-plugin
      THEMES: >-
        [local]zulu
      #SEARCH_REPLACE: yoursite.com,localhost:8080
      WP_DEBUG: 'true'
  db:
    image: mysql:5.7
    volumes:
      - data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 22222:80
volumes:
  data: {}
